body,
html {
  background-color: #e7dfd8;
  width: 100vw;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-block: 32px;
  width: 100%;
}

nav > a {
  margin: auto;
  font-size: 20px;
}

nav > a:hover {
  cursor: pointer;
  text-decoration: underline;
}

h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 60px;
  color: black;
  margin-bottom: 0;
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 48px;
  color: black;
  margin-left: 98px;
  margin-top: 60px;
}

img {
  width: 100%;
}

p {
  font-size: 24px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.topico {
  margin-top: 72px;
}

.social-item > img:active {
  transform: scale(90%);
}

.social-item > img:hover {
  background:  white;
  border-radius: 40%;
}

.social-item:hover {
  cursor: pointer;
}

.social-item > img {
  margin: 8px;
  width: 15%;
}

.about-me {
  display: grid;
  width: 60%;
}

.social-box {
  width: 80%;
}

.container-box {
  border: solid 2px black;
  padding: 24px;
  width: 80%;
  margin: auto;
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.image-profile {
  width: 30%;
}

.image-profile > img {
  box-shadow:  2px 3px 8px rgb(65, 63, 63);
}

.main-div {
  width: 100%;
  display: grid;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  nav > a {
    margin:0;
  font-size: 16px;
}
nav {
  justify-content: space-around;
}
h2 {
  font-size: 30px;
}

h3 {
  font-size: 30px;
}

p {
  font-size: 16px;
}

.container-box {
  padding: 12px;
  gap: 12px;
}
.about-me {
  width: 55%;
}

.image-profile {
  width: 40%;
}

}
